<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style type="text/css">

	</style>
	<title>Welcome to GreenDM</title>
	
	{% load static %}
</head>
<body>

	<form action="/csvmodule/" method="post">{% csrf_token %}
		<label class="control-label">Upload CSV File</label>
		<input id="input-folder-1" type="file" class="file-loading" webkitdirectory name="csvfile">
		<input type="submit" name="Login" class="btn-primary">
	</form>

</body>
</html>